@font-face {
    font-family: Norse;
    src: url("fonts/Norse-Bold.otf");
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.information {
    text-align: center;
}

.information > a {
    color: #596D48 !important;
    text-decoration: none;
}

.norseLogo {
    font-family: "Norse" !important;
}

.logo{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    color: white;
}

a:nth-child(2){
    text-decoration: none;
    color: inherit;
}

a{
    color: #596D48;
    text-decoration: none;
}

.signUp{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    padding: 0 20px;
}

.signUp > h2 {
    text-align: center;
}

form{
    width: 98%;
    background-color: rgb(167, 167, 167);
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.inputs {
    display: grid;
    grid-template-areas:
    "input1 input2"
    "input3 input4"
    "input5 input6";
    background-color: rgb(167, 167, 167);
}

form > button {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: auto;
    background-color: #596D48 !important;
}

.copy{
    text-align: center;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219) !important;
}