@font-face {
    font-family: Norse;
    src: url("fonts/Norse-Bold.otf");
}

.information {
    text-align: center;
}

.norseLogo {
    font-family: "Norse" !important;
}

.inputs {
    display: grid;
    grid-template-areas:
    "input1 input2"
    "input3 input4"
    "input5 input6";
}

.logo{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;

}